/* Medium devices (desktops, 992px and up) */

/* Full width article */
.full-width-content{

  .article-item{
    position: relative;
    overflow: hidden;
  }
  .header-primary{
    margin-bottom: 15px;
    font-weight: 400;
  }
  .article-description{
    position: absolute;
    @include rgba-background-inline(rgba(0, 0, 0, 0.7));
    @include transition-property(all);
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-out);
    height: auto;
    padding: 20px 15px;
    bottom: 0;
    width: 100%;
    margin:0;

  }

  .header-tertiary{
    font-size: 20px;
  }
}

/* Content in Rows */
.content-in-rows{
  .header-primary{
    font-size: 15px;
  }
}

/* wg-Content */
.col-sm-2{
  .header-primary{
    font-size: 15px;
  }
}
.standard{
  .header-primary{
    font-size: 22px;
  }
}

/* Mobile views */
.mobile-tiles{
  .header-primary{
    font-size: 22px;
  }
}

/* Rotator */


.rotator-standard{
  &:hover > .rotator-direction-nav{
    display: block;
  }
  .rotator-direction-nav{
    display: none;
    li{
      font-size: 40px;
      padding: 0 30px;
    }
  }
  .rotator-control-nav{
    display: block;
  }
}

.col-md-12,
.col-md-11,
.col-md-10
  {
  .rotator-standard{

      .caption-inner{
        background-color: rgba( 255, 255, 255, 0.0);
        padding: 0;
        h1, h2{
          background-color: $rotator-caption-bg-md;
          display: inline-block;
          width: 100%;
        }
        h1{ font-size: $font-size-h1 + 5; font-weight: normal; padding: 15px 15px 3px;}
        h2{ font-size: $font-size-h2 - 10; padding: 3px 15px 15px;}
      }
  }
}

.horizontal-mobile-scroll {
  overflow: auto;
  .inner { width: auto; }
}

.abo-offer-lg-cta {
  margin-top: 0;
}

