/* Small devices (tablets, 768px and up) */

/* Full Width Article */
.full-width-content {

  .article-labels {
    padding: 8px;

    .category-label {
      font-size: 12px;
    }
  }

  .header-primary {
    font-size:30px;
  }

  .header-tertiary {
    font-size:16px;
  }

}

/* wg-content */
.standard {

  .article-labels {
    padding: 8px;

    .category-label {
      font-size: 12px;
    }
  }

  .article-description {
      padding: 10px 0px 10px 0px;

    .header-primary {
      font-size: 18px;
      margin-bottom: 7px;
    }
  }

  .link-arrow {
    display:none;
  }
}
.wg-content {

  .col-sm-2 {
    border: 0px dotted #e1e1e1;

    .standard {

      .header-primary {
        font-size: 15px;
      }

      .article-item img {
        display:block;
      }
    }
  }
}

/* Abo text offer */
.abo-text-offer {
  .text {
    width:79%;
  }
}

/* Content in Rows */
.content-in-rows {

  .header-primary {
    font-size: 12px;
  }

  .article-description {
    padding: 10px 5px;
  }
}

/* Abo offers */
.abo-offer-lg {
  max-width: 100%;
}

.abo-offer-sm {
  .offer-buy {
    margin: 35px 0 22px;
  }
}

/* Mobile views */
.mobile-tiles {

  .article-description {
    padding: 20px 0px;
  }

  .header-primary{
    font-size: 18px;
  }
}

.mobile-rows {

  .article-description {
    padding: 20px 0px;
    width:100%;
  }

  .article-item {

    img {
      width:100%;
    }
  }
}

.mobile-swipe {

  .article-description {
    padding: 20px 0px;
  }
}

.swipe {
  overflow: visible;
  visibility: hidden;
  position: static;
}
.swipe-wrap {
  overflow: visible;
  position: static;
}
.swipe-arrow {
  display:none;
}
