/* ========== LOGIN STYLING ========== */

  .user-login {
    right: 160px;
    
    a {
      font-size: 13px;
    }
  }
  
  .search-form {
    .form-group {
      width: 140px;
    }
  }
  
  .create-profile-pluss-icon {
    font-size: 8px;
    position: absolute;
    left: 10px;
    top: 0px;
  }
  
  .navbar.all {
    .user-login {
      right: 10px;
      top: 55px;

      a:hover {
        color: $subnav-hover-color;
      }
    }
  }

/* ========== DEFAULT STYLING ========== */

  .navbar.default {
    margin-bottom: 38px;
  }

  .nav-container {
    background-color: transparent;
    padding: 0;
  }

  .navbar {
    .caret {
      display: none;    
    }
    
    .navbar-collapse {
      padding: 0;
    }
  }
  
  .nav {
    li {
      a {
        padding: 13px 15px;
      }
    }
  }
  
  .navbar-nav {
    li {
      a {
        font-weight: 400;
        font-size: 13px;
      }
    }
  }
  
  .abo-ad-header {
    display: block;
  }
  
  .navbar-nav {
    li {
      .navbar-subnav {
        box-shadow: none;
      }
      
      &:hover {
        .navbar-subnav {
          z-index: 9999;
          display: block;
          width: 100%;
          height: 40px;
        }
      }
    }
  }
  
  .navbar-nav {
    li.active {
      .navbar-subnav {
        display: block;
        width: 100%;
        height: 40px;
      }
    }
  }
  
  .navbar-subnav {
    li {
      position: relative;
      display: block;
      
      a {
        padding: 6px 8px;
        
        &:hover {
          background: transparent;
          color: $subnav-hover-color;
        }
      }
    }
  }
  
  .navbar.default {
    .navbar-subnav {
      li {
        float: left;
      }
    } 
  }

/* ========== DROPDOWN STYLING ========== */
  
  .navbar.dropdown {
    .navbar-nav {
      li {
        position: relative;
        
        &:hover {
          .navbar-subnav {
            position: absolute;
            width: auto;
            height: auto;
          }
        }
      }
      
      li.active {
        .navbar-subnav {
          display: none;
        }
        
        &:hover {
          .navbar-subnav {
            display: block;
          }
        }
      }
    }
  }
  
/* ========== ALL STYLING ========== */
  .navbar-inverse.all {
    padding-bottom: 105px;
    border: 1px solid $subnav-hover-color;
    background: #fff;
  }

  .navbar.all {
    .navbar-nav {
      width: 80%;
      @include border-radius(4px 4px, 0px 0px);
      
      li {
        @include border-radius(0px, 0px);
        position: relative;
        width: 19%;
        
        a {
          @include border-radius(0px, 0px);
        }
        
        .navbar-subnav {
          position: absolute;
          background: transparent;
          width: auto;
          min-width: 100px;
          height: auto;
          margin: 1px 0 0;
          padding: 0;
          display: block;
          border: none;
          @include border-radius(0px, 0px);
        }
      }
      
      li + li {
        border-left: $all-border-width solid $all-main-nav-border-color;
        
        .navbar-subnav {
          border-left: $all-border-width solid $all-subnav-border-color;
        }
      }
    }
    
    .navbar-subnav {
      li {
        width: 117px;
        border: none!important;
        
        a {
          padding: 2px 8px;
          font-size: 12px;
        }
      }
    }
  }
