.brand-color {
  color: $brand-primary;
}

.brand-color-bg {
  background-color: $brand-primary;
}

.brand-danger {
  color: $brand-danger;
}

.brand-danger-bg {
  background-color: $brand-danger;
}

.brand-success {
  color: $brand-success;
}

.brand-success-bg {
  background-color: $brand-success;
}

.brand-warning {
  color: $brand-warning;
}

.brand-warning-bg {
  background-color: $brand-warning;
}

.bg-inner {
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
}

.facebook-color {
  color: $facebook-color;
}

.white-text {
  color: #fff;
}

.white-background {
  background-color: #fff;
}

.gray-light {
  color: $gray-light;
}
