/* ========== CONTAINERS ========== */

  .widget {
    @extend .container;
    @extend .gutter-bottom-lg;

    padding-bottom: 15px;
  }

  .segment {
    @extend .widget;
  }

/* ========== WIDTHS ========== */

  .full-width {
    width: 100%;
  }

  .max-full-width {
    max-width: 100%;
  }

/* ========== POSITIONS ========== */

  .relative {
    position: relative;
  }

  .absolute {
    position: absolute;
  }

  .fixed {
    position: fixed;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .center {
    @extend .block;

    margin: 0px auto;
  }

  .middle {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center; /* Safari 6.1+ */
    justify-content: center;
  }

/* ========== GUTTERS ========== */

  .gutter-vertical {
    margin-top: $padding-large-vertical + 5;
    margin-bottom: $padding-large-vertical + 5;
  }

  .gutter-vertical-lg {
    margin: $padding-large-vertical+15 0;
  }

  .gutter-top {
    margin-top: $padding-large-vertical;
  }

  .gutter-top-lg {
    margin-top: $padding-large-vertical+15;
  }

  .gutter-horizontal {
    margin: 0 $padding-small-horizontal;
  }

  .gutter-horizontal-lg {
    margin: 0 $padding-small-horizontal+5;
  }

  .gutter-bottom {
    margin-bottom: $padding-large-vertical;
  }

  .gutter-bottom-lg {
    margin-bottom: $padding-large-vertical+15;
  }

  .padding-bottom-lg {
    padding-bottom: $padding-large-vertical+15;
  }

  .gutter-right {
    margin-right: $padding-small-horizontal;
  }

  .gutter-right-lg {
    margin-right: $padding-small-horizontal*2;
  }

  .gutter-left {
    margin-left: $padding-small-horizontal;
  }

  .gutter-left-lg {
    margin-left: $padding-small-horizontal*2;
  }

  .padding-all {
    padding: $padding-large-vertical;
  }

/* ========== RESETS ========== */

  .gutter-reset {
    margin: 0;
    padding: 0;
  }

  .gutter-vertical-reset {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .gutter-top-reset {
    margin-top: 0;
    padding-top: 0;
  }

  .gutter-bottom-reset {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .gutter-horizontal-reset {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .reset-margin {
    margin: 0;
  }

  .reset-padding {
    padding: 0;
  }

  .reset-padding-left {
    padding-left: 0;
  }

  .reset-padding-right {
    padding-right: 0;
  }

  .reset-size {
    width: auto;
    height: auto;
  }
/* ========== OVERFLOWS ========== */

  .overflow-auto {
    overflow: auto;
  }

  .overflow-scroll {
    overflow: scroll;
  }

  .overflow-hidden {
    overflow: hidden;
  }

/* ========== DISPLAYS ========== */

  .block {
    display: block;
  }

  .inline {
    display: inline;
  }

  .inline-block {
    display: inline-block;
  }

  /* this is a temporary name, when we update to bootstrap 3.0.1, it can be called .hide */
  .bp-hide {
    display: none;
  }

/* ========== RESPONSIVE ========== */

  .hidden-xs-sm {
    @extend .hidden-xs;
    @extend .hidden-sm;
  }

  .visible-xs-sm {
    @extend .visible-xs;
    @extend .visible-sm;
  }

  .visible-md-lg {
    @extend .visible-md;
    @extend .visible-lg;
  }

  .hidden-md-lg {
    @extend .hidden-md;
    @extend .hidden-lg;
  }

/* ========== FALLBACKS ========== */
.ie-legacy {
  .hidden-ie {
    @extend .bp-hide;
  }
}

/* ========== MISC ========== */

  .hide-background {
    background-color: transparent;
  }

  .border-none {
    border: none;
  }

  .pointer {
    cursor: pointer;
  }

  .responsive-images {
    img {
      @extend .img-responsive;
    }
  }

  .wysiwyg {
    @extend .text;
    @extend .responsive-images;

    line-height: 1.7;

    iframe {
      max-width: 100%;
    }
  }

  .horizontal-scroll {
    overflow: auto;
    overflow-y: hidden;
    margin: 0 auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;

    .inner {
      @extend .inline-block;
      @extend .vertical-align-top;

      white-space: normal;
    }
  }

  .ellipsis {
    @extend .overflow-hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .vertical-align-top {
    vertical-align: top;
  }

  .vertical-align-middle {
    vertical-align: middle;
  }

  .vertical-align-bottom {
    vertical-align: bottom;
  }

  .list-group {
    padding-left: 0px;

    .list-group-items {
      @extend .block;

      .logo {
        @extend .absolute;

        max-height: 15px;
        bottom: -55px;
        left: 40px;
      }
    }
  }

  .grayscale {
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  }
