.social-share {
  margin: 5px 0;
  display: inline-block;
  margin-bottom: 5px;
  
  .item {
    display: inline-block;
    text-align: left;
    clear: both;
    margin-bottom: 10px;
  }
  
  .facebook {
    width: 148px;
    
    .fb-like {
      position: absolute;
      margin-top: -12px;
    }
  }
  
  .pinterest {
    width: 40px;
    margin-right: 60px;
  }
  
  .linkedin {
    width: 130px;
  }
}
