$blog-nav-bg:                    #222 !default;
$blog-nav-text:                  #fff !default;
$blog-nav-border:                #222 !default;

$blog-author-bg:         $blog-nav-bg !default;
$blog-author-text:     $blog-nav-text !default;

$post-info-text:          $gray-light !default;

// External blogs
$blog-vote:                      #222 !default;
