.footer-bg {
  background-color:#222;
}

.footer {
  min-height: 150px;
  padding: 19px;
  color: #666;
  a {
    color: $gray-lighter;
    &:hover {
      color: $gray-light;
    }
    &:visited {
      color: $gray-light;
    }
  }
  .list-group {
    padding-left:0px;
    .list-group-items{
      display: block;
      .logo{
        max-height: 15px;
        position: absolute;
        bottom: -55px;
      }
    }
  }
}
