.advertorial-diagonal{
  position: absolute;
  text-align: center;
  z-index: 100;
  width: 150px;
  height: 150px;
  overflow: hidden;
  p{
  width: 200px;
  padding: 5px;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  background-color: $brand-primary;
  margin: 35px 0 0 -35px;

  @include rotate( 320deg, false, false);
  }
}
.advertorial-diagonal-sm {
  @extend .advertorial-diagonal;
  p {
    width: 120px;
    padding: 3px;
    font-size: 0.7em;
    margin: 20px 0 0 -25px;
  }
}

.advertorial-stamp{
  background-color:#000;
  color: #fff;
  position:absolute;
  text-align: center;
  top:30;
  width:100px;
  right: 0;
  text-transform: uppercase;
}

.fontawesome{
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.article-labels{
  background: $gray-lighter;
  color: $gray;
  padding: 0px 8px 0px 8px;

  .date-label:before{
    content: "\f017";
     @extend .fontawesome;
  }

  .comments-label:before{
    content: "\f075";
    @extend .fontawesome;
  }

  .likes-label{
    &:before{
      content: "\f164";
      @extend .fontawesome;
    }
  }

  .category-label{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 200;
    &:before{
      content: "";
      @extend .fontawesome;
    }
  }
}

