/*Widths*/
.full-width { width: 100%; }
.max-full-width { max-width: 100%; }

.widget {
  @extend .container;
  @extend .bg-inner;
  @extend .gutter-bottom-lg;
  padding-bottom: 15px;
}

.hide-bg {
  background-color: transparent;
}

.fb-comments, .fb-comments iframe[style], .fb-comments span { /* responsive facebook comments*/
  width: 100% !important;
}

.center {
  margin: 0px auto;
  display: block;
}

.segment {
  @extend .widget;
}

.pointer { cursor: pointer;}

/*Position*/
.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }

/* Gutters */

.gutter-reset { margin: 0; padding: 0; }
.gutter-reset-top { margin-top: 0; padding-top: 0; }

/* Padding */
.reset-padding { padding: 0; }
.reset-padding-left { padding-left: 0; }
.reset-padding-right { padding-right: 0; }

/* Vertical */
.gutter-vertical { margin: $padding-large-vertical+5 0; }
.gutter-vertical-lg { margin: $padding-large-vertical+15 0; }
.gutter-vertical-reset { margin: 0 auto; padding: 0 auto; }

/* Horisontal */
.gutter-horisontal { margin: 0 $padding-small-horizontal; }
.gutter-horisontal-lg { margin: 0 $padding-small-horizontal+5; }
.gutter-horisontal-reset { margin: auto 0; padding: auto 0; }

/* Top */
.gutter-top { margin-top: $padding-large-vertical; }
.gutter-top-lg { margin-top: $padding-large-vertical+15; }
.gutter-top-reset { margin-top: 0; padding-top: 0; }

/* Bottom */
.gutter-bottom { margin-bottom: $padding-large-vertical; }
.gutter-bottom-lg { margin-bottom: $padding-large-vertical+15; }
.gutter-bottom-reset { margin-bottom: 0; padding-bottom: 0; }

/* Right */
.gutter-right { margin-right: $padding-small-horizontal; }
.text-align-right { text-align: right; }

/* Left */
.gutter-left { margin-left: $padding-small-horizontal; }
.text-align-left { text-align: left; }

/* Overflow */
.overflow-auto { overflow: auto;}

/* Responsive */
.hidden-xs-sm {
  @extend .hidden-xs;
  @extend .hidden-sm;
}

.visible-xs-sm {
  @extend .visible-xs;
  @extend .visible-sm;
}

.visible-md-lg {
  @extend .visible-md;
  @extend .visible-lg;
}

.hidden-md-lg {
  @extend .hidden-md;
  @extend .hidden-lg;
}

.divider-md-6 {
  border-bottom: 5px solid $gray-lighter;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.fixed-center{
  position: fixed;
  top: 50%;
  left: 50%;
}

.horizontal-scroll {
  overflow: auto;
  overflow-y: hidden;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;

  .inner {
    white-space: normal;
    display: inline-block;
    vertical-align: top;
  }

}

.link-text-color {
  color: #fff !important;
}

.column-list {
  list-style: none;
  padding: 0;
  
  li {
    display: inline-block;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
