.load-wheel {
  @extend .fa, .fa-spinner, .fa-spin, .gutter-top-lg;
  position: absolute;
  font-size: 50px;
  left: 50%;
  margin-left: -25px;
  z-index: 10000;
}

.modal-image {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding-top: 30px;
  .close {
    position: absolute;
    right: 0;
    color: #fff;
    line-height: 0;
  }
}

.modal {
  .close {
    @extend .pull-right;
    font-size: 30px;
  }
}

body {
  /* Scrollbars on IE */
  scrollbar-face-color:#e1e1e1;
  scrollbar-arrow-color:#e1e1e1;
  scrollbar-track-color:#fff;
  scrollbar-shadow-color:#fff;
  scrollbar-highlight-color:#ccc;
  scrollbar-3dlight-color:#fff;
  scrollbar-darkshadow-Color:#fff;
}
/* Makes the Chosen.js select-box look like Bootstrap's selects */
.chosen-container .chosen-single {
  color: #fff;
  background-image: none;
  background-color: $gray-light;
  border: none;
  height: 30px;
  padding-top: 3px;
  border-radius: 2px;
  div b {
    background: none;
    &:before {
      @extend .fontawesome;
      content: "\f0d7";
      margin-top: 9px;
    }
  }
}

.chosen-with-drop {
  .chosen-single {
    color: #000;
  }

}
