/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
  .header-primary{font-size: $font-size-h1;}
  .header-secondary{font-size: $font-size-h2;}
  .header-tertiary{font-size: $font-size-h3;}
  .header-quaternary{font-size: $font-size-h4;}
  .copy-distinct{font-size: $font-size-base;}

  .header-giant{
    font-size: $font-size-h1+40;
    font-weight: 300;
  }
  .header-large{
    font-size: $font-size-h1+20;
    font-weight: 300;
  }

  .header-thin{
    letter-spacing: 5px;
    font-weight: 100;
  }

  .divider-md-6{
    border: none;
    border-right: 5px solid $gray-lighter;
  }

  .modal-lg{
    width: 900px;
  }

  /* ====== GALERY ====== */

  .gallery-info{
    margin-top: $padding-small-vertical+10;
    .icon{
      width: 20%;
    }
    .info{
      width: 80%;
      float: right;

    }
  }
  .wide{
    h2{
      font-size: 50px;
    }
  }

  /* ====== WIDGETS ====== */
  @import "../../widgets/breakpoints/medium";
  
  /* ====== HEADER ====== */
  @import "global/header/breakpoints/medium";

  /* ====== PROFILES ====== */
  @import "../../profiles/breakpoints/medium";
  
  /* ====== Personal messages ====== */
  @import "global/personal_messages/breakpoints/medium";
}
