.search-filters {

  .applied-tags, li {
    margin-bottom: 3px;
    border-top: 2px solid $gray-lighter;
    padding: 5px 0;
  }
  .applied-tags{
    overflow: auto;
    label, a {
      float: left;
      clear: both;
      margin: 2px 0;
    }
    label { padding-bottom: 5px;}
    a { padding-top: .3em; }
    a:visited { color: #fff; }
  }

  ul, li {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;

    a, a:visited, a:hover {
      color: $text-color;
      margin: 2px;
      display: block;
      font-size: $font-size-base - 2;
    }
    label {
      text-align: left !important;
      width: 100%;
      padding: 2px 0;
      color: $gray-light;
       &:after {
        @extend .fontawesome;
        content: "\f078";
        position: absolute;
        right: 0;
        margin-right: 30px;
      }
      &.collapsed {
         &:after {
          content: "\f054";
        }
      }
    }
  }
}
