//Abo large offer widget
$offer-1-color: $brand-primary !default;
$offer-2-color: $brand-success !default;
$offer-3-color: $brand-warning !default;

//widgets
$widget-group-title-family:                  $font-family-sans-serif !default;
$widget-group-title-bg:                      #f8f8f8 !default;
$widget-group-title-color:                   #000 !default;
$widget-group-border-style:                  1px dotted #e1e1e1 !default;
$widget-group-title-transform:               uppercase !default;
$widget-group-title-weight:                  bold !default;
$widget-group-title-size:                    13px !default;

//Rotator
$rotator-caption-bg:                         rgba(255, 255, 255, 0.6) !default;
$rotator-caption-color:                      $gray-dark !default;
$rotator-caption-bg-md:                      rgba(255, 255, 255, 0.7) !default;
$rotator-caption-weight:                     bold !default;
$rotator-arrow-color:                        $rotator-caption-color !default;
$rotator-nav-circle-color:                   $gray-light !default;
$rotator-nav-circle-color-active:            $gray-dark !default;
