/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
  .h1 {
    font-size: $font-size-h1 + 10;
  }

  .lead-portrait {
    width:100%;
  }

  .corner-label {
    .content-label {
      position: absolute;
      font-size: $font-size-base;
      top: 0;
      right: 0;
      bottom: auto;
      width: auto;

      &.left {
        left: 0;
        right: auto;
      }
    }
  }

  .content-label-widget {
    position: absolute;
  }

  .content-in-rows .content-label-widget {
    position: relative;
  }
}
