.profile-widget {  
  ul {
    li, li + li + li {
      width: 49%;
      margin-left: 0;
      margin-bottom: 2%;
    }
    li + li, li + li + li + li {
      margin-left: 2%;
    }
  }
}

.profile-name {
  padding-left: 265px;
}

.profile-status {
  padding-left: 265px;
}
