.abo-offer-sm {
  @extend .gutter-vertical;
  text-align: center;
  border: 2px solid $gray-lighter;
  overflow: auto;
  .price {
    margin-top: 0;
    font-size: 40px;
  }
  p { margin: 0;}
  .lead-image {
    overflow: hidden;
    text-align: center;
  }
  img {
    padding: 10px 0;
    height: 135px;
  }
  .offer-buy {
    margin: 5px 0 22px;
    h2 {
      font-size: 16px;
      font-weight: bold;
      margin: 5px 0;
    }
    a { font-size: 30px; }
  }
}
