.abo-text-offer{
  background-color: $gray-lighter;
  color: $gray;
  .text{
    width:100%;
    float:left;
    padding: 15px;
    font-weight: bold;
  }
  .image{
    float:left;
    padding:10px;
  }
}
