.blog-widget {

  max-width: 180px;
  text-align:center;

  .blog-author{
    background: inherit;
    color: #222;
    border: 1px solid #fff;

    img {
      width: 80%;
    }

    &:hover {
      border: 1px solid #e1e1e1;
    }
  }
}
