.calendar{
  @extend .gutter-top-lg;
  padding-bottom: 20px;
  .current-day{
    text-decoration: underline;
    background-color: $gray-lighter;
  }
  .other-month {
    visibility:hidden;
  }
  .chosen-day{
    background-color: #f4f4f4;
  }
  .additional-events {
    .event {
      font-size: 14px;
      margin-bottom: 10px;
    }
    .header-tertiary {
      margin-bottom: 10px;
    }
  }
  .panel-heading {
    background-color: #eee;
    border-color: #e1e1e1;
    a {
      color: #222;
      &:hover {
        color: #222;
      }
    }
  }
  .header-secondary {
    @extend .gutter-reset;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    .previous-month {
      display: block;
      float: left;
      margin-left: 20px;
      font-size: 18px;
      &:before {
        @extend .fontawesome;
        content: "\f104";
      }
    }
    .next-month {
      display: block;
      float: right;
      margin-right: 20px;
      font-size: 18px;
      &:before {
        @extend .fontawesome;
        content: "\f105";
      }
    }
  }
  .calendar-list{
    border-top: 1px dotted #e1e1e1;
    padding:0px;
    .calendar-list-item {
      color: #c5c5c5;
      font-size: 15px;
      line-height: 20px;
      display: block;
      float: left;
      width: 14.28%;
      height: auto;
      text-align: center;
      padding: 7px 0px;
      a {
        text-decoration: none;
        font-weight: 600;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

}
