.content-in-rows {
  @extend .gutter-top;
  @extend .mobile-styling;

  clear: both;
  display: inline-block;

  .article-description {
    padding: 5px 5px 10px;
    width:60%;
    float:left;
  }

  .header-primary {
    font-size: 15px;
    font-weight: 400;
  }

  .article-item {

    img{
      width:40%;
      float:left;
    }
  }
}
