.widget{
  @extend .gutter-bottom;
  @extend .container;
  @extend .bg-inner;
  padding-bottom: $padding-large-vertical;

}

.widget-title{
  color: $widget-group-title-color;
  padding: 13px 10px 10px 15px;
  font-weight: $widget-group-title-weight;
  font-size: $widget-group-title-size;
  letter-spacing: 1px;
  text-transform: $widget-group-title-transform;
  background: $widget-group-title-bg;
  border-bottom: $widget-group-border-style;
  border-top: $widget-group-border-style;
  font-family: $widget-group-title-family;
}

.article-item{
  padding: 0px 0px;
  &:hover{
    @include opacity(0.9);
  }
  a:hover{
    text-decoration: none;
  }
}

.article-description{
  padding: 20px 0;
  bottom: -80%;
  color: #222;
  width: 100%;
  &:hover{
    bottom: -70%;
  }
  .header-primary {
    font-size: 18px;
  }
}
