.linklist{
  @extend .gutter-top;
  ul{
    padding: 0px;
    li {
      font-size: 13px;
      font-weight: 500;
      padding-left: 1.2em;
      list-style: none;
      margin-bottom: 7px;
      &:before{
        color: #000;
        vertical-align: middle;
        font-size: 16px;
        @extend .fontawesome;
        content: "\f0a9";
        margin-left: -1.2em;
        width: 1.2em;
      }
      a{
        color: #000;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
