.polls-widget {
  .header-tertiary {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  }
  p { margin-bottom: 5px; }
}

.col-sm-3,
.col-sm-4 {
  .polls-widget {
    li input {
      width: 8%;
      margin-right: 2%;
    }
  }
}
