.video-banner {
  @extend .row;
  position: relative;

  img{
    @extend .img-responsive;
    @extend .full-width;
    @extend .center;
  }
  .video-wrapper {
    width: 80% !important;
    position: absolute !important;
    top:25%;
    margin: 0px auto;
    left:0;
    right: 0;
    overflow: hidden;
    height: 550px !important;
  }
}
