.gallery-slider{
  border-top: 5px solid $gray-lighter;
  border-bottom: 5px solid $gray-lighter;
  ul{
    &, li{
      margin: 0;
      padding: 0;
    }
    li{
      width: 100%;
    }
    figure{
      text-align: center;
      padding: 20px 0;
    }
    img{
      max-width: 100%;
      margin-bottom: 10px;
    }
    article{
      text-align: left;
    }
    figcaption{
      @extend .copy-note;
    }
    .wide{
      img{
        width: 100%;
        max-height: auto;
      }
    }
    .tv,
    .portrait,
    .square,
    .original{
      img{
        max-height: 500px;
      }
    }
  }
}

.gallery-info{
  font-weight: bold;
  overflow: auto;
  p{
    margin: 0;
  }
  .icon{
    float: left;
    width: 10%;
  }
  .info{
    @extend .gutter-bottom;
    float: left;
    width: 90%;
  }
}
.image-info{
  img{
    width: auto !important;
  }
}
.comment-container{
  display: none;
}
