.thumbs-container{
    z-index: 100;
    right: 0;
    width: 100%;
    background-color: $gray-lighter;
    opacity: 1;
    display: none;
  ol{
    counter-reset: li;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    width: 100%;
    li{
      position: relative;
      display: inline-block;
      margin: 10px;
      height: 75px;
      width: 75px;
      text-align: center;
      border: 3px solid $gray-light;
      background-color: $gray-light;
      overflow: hidden;
      cursor: pointer;
      @include border-radius(50px);
    }
    img{
      height: 100%;
    }
  }
}

.thumbnails-visible{

}
