.logo-container {
  @extend .pull-left;
  bottom: 0;
  margin: 10px 0;
  height: 120px;
  width: 120px;
  background: url("http://placehold.it/120x200/ebebeb&text=Logo") no-repeat bottom;
  background-size: 100%;
}

.abo-ad-header{
  position: absolute;
  bottom: 0;
  right: 0;
  background: url("http://placehold.it/200x100/ebebeb&text=Abo Teaser") no-repeat bottom;
  background-size: 100%;
  width: 200px;
  height: 100px;
  margin-right: 15px;
}
